%section.blue-block
  .wrapper.relative
    %h1
      Есть ли принципиальная разница между лендингами 
      %br
      стоимостью 25 000₽ и 50 000₽?

    %p.large
      Безусловно, разница есть. 
      Но насколько она велика 
      %br
      и почему у одних
      студий лендинг стоит 15 000₽, а у других 150 000₽?

    .button.show-modal{rel: '#offer-form'}
      Узнать правду →