%section.blue-block
  .wrapper.relative
    %h1
      Call-трекинг, реклама на Youtube, 
      %br
      и еще 15 не менее крутых способов
      %br
      увеличить эффективность вашей рекламы

    %p.large

      Узнайте какие решения мы можем 
      для увеличения
      %br
      эффективности вашего бизнеса.

      -#
        Подпишитесь на нашу рассылку,
        и в течение недели вы получите 
        %br
        7 писем с последними ноу-хау
        в области интернет-маркетинга

    .button.show-modal{rel: '#second-form'}
      Узнать →