
.intro
  .intro-title
    Мы разрабатываем лендинги, страницы захвата
    %br
    и продающие сайты

  .intro-content
    Обязательно посмотрите наши работы.
    %br
    Каждая из них - наше маленькое конкурентное преимущество ;)

  .intro-button.scroll-to-form Заказать звонок

-#.about
  .wrapper.clearfix

    .card
      %img{src: '/images/agatov.jpg'}
      .hello Привет
      %p
        Меня зовут Кирилл Агатов.
        %br
        В течение последних 16 месяцев
        я занимаюсь разработкой лэндингов на заказ.

      .btn.scroll-to-form Связаться со мной


    .principle

      %h2
        Мой подход к работе

      %p
        Честно говоря, мне надоело позиционировать себя как крутую команду профессионалов, которая увеличит прибыль вашей компании в целых пять раз всего за две недели. Безусловно, я не работаю один - над каждым проектом трудится группа из копирайтера, дизайнера и программиста, а время от времени привлекаются и более узкопрофильные специалисты.

      %p
        Я не выдумываю кейсы, не заявляю о рекордных 36% конверсии, я не сделал 278 работ за прошлый год. Единственная причина, по которой вам стоит со мной работать - вы посмотрели все мои работы и поняли, что ваш проект будет сделан на том же уровне, с тем же запасом качества.

      %p
        И еще, я за простые и эффективные решения.



-#%section.blue-block
  .wrapper.relative
    %h1
      Хотите узнать меня не на словах, а в деле?

    %p.large
      Вы можете заказать у меня только прототип будущего лэндинга всего за
      %span.bolder 3 000
      рублей.
      %br
      Если на этом этапе работы вас все устроит - доделаем весь лэндинг со скидкой.

    .button.scroll-to-form.prototype-details
      Узнать подробности →

= haml :latest_works


-#%section.works-in-progress
  .wrapper
    .title
      Проекты в работе

    .projects.clearfix
      .project
        .content
          %h3 Асфальтирование территорий
          %p
            На данный момент уже готов
            прототип и начата разработка
            дизайна. Вы можете скачать
            прототип и наброски дизайна
            по ссылке ниже

        %a.bottom{href: '#'} Скачать архив  →
      .project
        .content
          %h3 Продажа роз в Саратове
          %p
            По проекту готов прототип, в данный
            момент он утверждается с заказчиком.
            Вы можете можете скачать прототип
            по ссылке ниже.

        %a.bottom{href: '#'} Скачать архив  →

      .project
        .content
          %h3 Озеленение территорий
          %p
            Проект находится на стадии сбора данных
            и разработки прототипа, поэтому показать
            пока нечего.
      .project.last-line
        .content
          %h3 Аренда строительной техники
          %p
            Проект находится на стадии сбора данных и разработки прототипа, поэтому показать пока нечего.


      .project.last-line.empty
        .content
          %p
            На данный момент я могу взять
            в работу еще 1-2 проекта. Это не "маркетинговые штучки",
            просто большее количество проектов отразится на качестве каждого из них.
            Оставьте заявку в форме ниже и мы пообщаемся
            о вашем лэндинге.



%section#order-form{style: 'border-top: 1px solid #ddd'}
  .wrapper
    .title
      Связь с нами
      .small
        Оставьте ваши контактные данные
        и несколько слов о вашем бизнесе.
        %br
        Мы обязательно свяжемся с вами.

    .form-thank-you
      .thank-you-text
        .bolder.big Спасибо за обращение!
        Мы свяжемся с вами очень скоро.
    %form.form
      %input{type: :text, name: 'name', placeholder: 'Введите ваше имя'}
      %input{type: :text, name: 'phone', placeholder: 'Введите ваш телефон'}
      %input{type: :text, name: 'email', placeholder: 'Введите ваш e-mail (необязательно)'}
      %textarea{name: 'about', placeholder: 'Пара слов о вашем бизнесе (по вашему желанию)'}
      .button#order-button До связи