-#.intro
  Здесь вам могут разработать крутой лэндинг
  %span.blink
    = '|'

.about
  .wrapper.clearfix

    .card
      %img{src: '/images/agatov.jpg'}
      .hello Привет
      %p
        Меня зовут Кирилл Агатов.
        %br
        В течение последних 16 месяцев
        я занимаюсь разработкой лэндингов на заказ.

      .btn#scroll-to-form Связаться со мной


    .principle

      %h2
        Мой подход к работе

      %p
        Честно говоря, мне надоело позиционировать себя как крутую команду профессионалов, которая увеличит прибыль вашей компании в целых пять раз всего за две недели. Безусловно, я не работаю один - над каждым проектом работает группа из копирайтера, дизайнера и программиста, а время от времени привлекаются и более узкопрофильные специалисты.

      %p
        Я не выдумываю кейсы, не заявляю о рекордных 36% конверсии, я не сделал 278 работ за прошлый год. Единственная причина, по которой вам стоит со мной работать - вы посмотрели все мои работы и поняли, что ваш проект будет сделан на том же уровне, с тем же запасом качества.

      %p
        И еще, я за простые и эффективные решения.

%section
  .wrapper
    .title
      Последние работы
    .works.clearfix
      .work
        .img.h300
          %img{src: '/images/works/kaleva1_300_300.jpg'}
        .content
          %h3
            Окна Калева
          %p
            Я очень люблю проекты, которые несут пользу этому миру. И этот проект - один из таких.


          %p
            В работе мы отказались от стандартных иконок и добавили много сочных иллюстраций с участием людей. Благодаря этому, лэндинг получился очень живым и ярким.

        %a{href: '#'}
          kaleva.abardacha.ru →

      .work
        .img.h400
          .overlay
          %img{src: '/images/works/pohudanie_300_400.jpg'}

        .content
          %h3 Курсы похудания
          %p
            Мой крайний проект и, пожалуй, один из лучших. Обязательно посмотрите, дизайн вышел просто шикарный.

        %a{href: '#'} weightloss.abardacha.ru →


      .work
        .img.h240
          %img{src: '/images/works/divnie_okna_300_240.jpg'}
        .content
          %h2 Дивные окна
          %p
            Лэндинг для продажи окон для компании "Дивные Окна". Получился охринительно минималистичным
            и я этим очень горжусь

        %a{href: '#'} divnie-okna.abardacha.ru →


      .work
        .img.h240
          %img{src: '/images/works/mimicase_300_240.jpg'}
        .content
          %h3
            Чехлы Mimicase
          %p
            Я очень люблю проекты, которые несут пользу этому миру. И этот проект - один из таких.


          %p
            В работе мы отказались от стандартных иконок и добавили много сочных иллюстраций с участием людей. Благодаря этому, лэндинг получился очень живым и ярким.

        %a{href: '#'} mimicase.abardacha.ru →

      .work
        .img.h300
          %img{src: '/images/works/rzkm_300_300.jpg'}
        .content
          %h3 РЗКМ
          %p
            Мой крайний проект и, пожалуй, один из лучших. Обязательно посмотрите, дизайн вышел просто шикарный.

        %a{href: '#'} rzkm.abardacha.ru →


      .work
        .img.h400
          %img{src: '/images/works/kaleva2_300_400.jpg'}
        .content
          %h2 Окна Калева 2
          %p
            Лэндинг для продажи окон для компании "Дивные Окна". Получился охринительно минималистичным
            и я этим очень горжусь

        %a{href: '#'} kaleva2.abardacha.ru →


      .work
        .img.h400
          %img{src: '/images/works/polymedia_300_400.jpg'}
        .content
          %h3
            Системная интеграция
          %p
            Я очень люблю проекты, которые несут пользу этому миру. И этот проект - один из таких.

        %a{href: '#'} polymedia.abardacha.ru →

      .work
        .img.h300
          %img{src: '/images/works/marketube_300_300.jpg'}
        .content
          %h3 Marketube
          %p
            Мой крайний проект и, пожалуй, один из лучших. Обязательно посмотрите, дизайн вышел просто шикарный.

        %a{href: '#'}
          marketube.abardacha.ru →


      .work
        .img.h240
          %img{src: '/images/works/kaleva3_300_240.jpg'}
        .content
          %h2 Окна Калева 3
          %p
            Лэндинг для продажи окон для компании "Дивные Окна". Получился охринительно минималистичным
            и я этим очень горжусь

        %a{href: '#'} kaleva3.abardacha.ru →


      .work
        .img.h300
          %img{src: '/images/works/volvo_300_300.jpg'}
        .content
          %h3
            Автозапчасти Volvo
          %p
            Я очень люблю проекты, которые несут пользу этому миру. И этот проект - один из таких.

        %a{href: '#'} volvo.abardacha.ru →

      .work
        .img.h240
          %img{src: '/images/works/chip_300_240.jpg'}
        .content
          %h3 Чиптюнинг автомобилей
          %p
            Мой крайний проект и, пожалуй, один из лучших. Обязательно посмотрите, дизайн вышел просто шикарный.

        %a{href: '#'} chip.abardacha.ru →


      .work
        .img.h400
          %img{src: '/images/works/univerclub_300_400.jpg'}
        .content
          %h2 Печать на футболках
          %p
            Лэндинг для продажи окон для компании "Дивные Окна". Получился охринительно минималистичным
            и я этим очень горжусь

        %a{href: '#'} univerclub.abardacha.ru →


%section#order-form{style: 'border-top: 1px solid #ddd'}
  .wrapper
    .title
      Связь со мной
      .small
        Оставьте ваши контактные данные в форме ниже
        %br
        и я перезвоню вам в течение 24 часов


    %form
      %input{type: :text, name: 'order[name]', placeholder: 'Введите ваше имя'}
      %input{type: :text, name: 'order[phone]', placeholder: 'Введите ваш телефон'}
      .button До связи
