-# if request.env['HTTP_REFERER'] and request.env['HTTP_REFERER'].include? 'molodost.bz'

.popup-overlay
.popup#offer-form
  .block
    .close-icon x

    .content.thank-you-screen
      .popup-title
        Отлично!
        .small
          Наш менеджер свяжется с вами в течение 30 минут.

    .content.form-screen{style: 'display: block;'}
      .popup-title
        Оставьте ваши контактные данные

        .small
          В течение получаса с вами свяжется наш менеджер
          %br
          и расскажет в чем разница

      .popup-form.clearfix
        %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
        %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
        .button.send-popup-form.short{situation: 'Есть ли разница между лендингами за 25 и 50 тысяч?', type: 'name-phone'} →



.popup#email-form
  .block
    .close-icon x
    .content.form-screen{style: 'display: block;'}
      .popup-title
        Оставьте ваши имя и email

        .small
          Сразу после отправки формы вы получите письмо.
          %br
          Подтвердите подписку на рассылку.


        .popup-form.clearfix
          %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
          %input{type: :text, name: :email, placeholder: 'Введите ваш email'}
          .button.send-popup-form.short{situation: 'Есть ли разница между лендингами за 25 и 50 тысяч?', type: 'name-email'} →


.popup#second-form
  .block
    .close-icon x

    .content.thank-you-screen
      .popup-title
        Отлично!
        .small
          Наш менеджер свяжется с вами в течение 30 минут.
    .content.form-screen{style: 'display: block;'}
      .popup-title
        Оставьте ваши имя и телефон

        .small
          В течение получаса с вами свяжется наш менеджер
          %br
          и расскажет в чем разница

        .popup-form.clearfix
          %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
          %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
          .button.send-popup-form.short{situation: '15 крутых способов увеличить эффективность', type: 'name-phone'} →



-#.topbar

.intro
  .intro-title
    Разработка страниц захвата под ключ

  .intro-content
    Мы небольшое маркетинговое агенство, сосредоточенное на разработке
    качественных страниц захвата, которые приносят прибыль нашим клиентам

  .intro-button.scroll-to-form Заказать звонок


= haml :latest_works



%section#order-form{style: 'border-top: 1px solid #ddd'}
  .wrapper
    .title
      Связь с нами
      .small
        Оставьте ваши контактные данные
        и несколько слов о вашем бизнесе.
        %br
        Мы обязательно свяжемся с вами.

    .form-thank-you
      .thank-you-text
        .bolder.big Спасибо за обращение!
        Мы свяжемся с вами очень скоро.
    %form.form
      %input{type: :text, name: 'name', placeholder: 'Введите ваше имя'}
      %input{type: :text, name: 'phone', placeholder: 'Введите ваш телефон'}
      %input{type: :text, name: 'email', placeholder: 'Введите ваш e-mail (необязательно)'}
      %textarea{name: 'about', placeholder: 'Пара слов о вашем бизнесе (по вашему желанию)'}
      .button#order-button До связи