.work
  %a.img.h400{href: 'http://polymedia.abardacha.ru', target: '_blank'}
    .overlay
    %img{src: '/images/works/polymedia_300_400.jpg'}
  .content
    %h3 Системная интеграция
    %p
      Короткий и лаконичный лэндинг для компании, разрабатывающей проекты конференц-залов, ситуационных центоров и крутых переговорных.

  %a.bottom{href: 'http://polymedia.abardacha.ru', target: '_blank'}
    polymedia.abardacha.ru →


    
.work
  %a.img.h240{href: 'http://chip.abardacha.ru', target: '_blank'}
    .overlay
    %img{src: '/images/works/chip_300_240.jpg'}
  .content
    %h3 Чиптюнинг автомобилей
    %p
      Лэндинг для той же компании, которая продает запчасти для Volvo.
    %p
      Увеличение мощности и экономия топлива, посредством тонкой настройки автомобильной электроники



  %a.bottom{href: 'http://chip.abardacha.ru', target: '_blank'}
    chip.abardacha.ru →


.work
  %a.img.h400{href: 'http://univerclub.abardacha.ru', target: '_blank'}
    .overlay
    %img{src: '/images/works/univerclub_300_400.jpg'}
  .content
    %h3 Печать на футболках
    %p
      Лэндинг для компании, печатающей индивидуальные принты на футблоках, толстовках и поло.``

  %a.bottom{href: 'http://univerclub.abardacha.ru', target: '_blank'}
    univerclub.abardacha.ru →