%section
  .wrapper
    .title
      Последние работы
    .works.clearfix
      .work
        %a.img.h300{href: 'http://kaleva.abardacha.ru', target: '_blank'}
          .overlay
          %img{src: '/images/works/kaleva1_300_300.jpg'}
        .content
          %h3 Окна Калева
          %p
            Первая из серии страниц захвата для одного из диллеров компании Калева.


          %p
            Работа получилась минималистичной и тем не менее очень яркой. В этом лэндинге мы
            попробовали не писать про цены на пластиковые окна, и акцентировали внимание на том,
            что конечную стоимость сможет назвать только замерщик после выезда.

        %a.bottom{href: 'http://kaleva.abardacha.ru', target: '_blank'}
          kaleva.abardacha.ru →

      .work
        %a.img.h400{href: 'http://slimming.abardacha.ru', target: '_blank'}
          .overlay
          %img{src: '/images/works/pohudanie_300_400.jpg'}

        .content
          %h3 Курсы похудания
          %p
            Нам очень нравится работать над проектами, которые приносят пользу людям. И этот лэндинг - один из них.
            В результате получилась одна из наших лучших работ.


        %a.bottom{href: 'http://slimming.abardacha.ru', target: '_blank'}
          slimming.abardacha.ru →


      .work
        %a.img.h240{href: 'http://divnie-okna.abardacha.ru', target: '_blank'}
          .overlay
          %img{src: '/images/works/divnie_okna_300_240.jpg'}
        .content
          %h3 Дивные окна
          %p
            Лэндинг для продажи окон для компании "Дивные Окна", которая входит в топ-10 компаний по продаже пластиковых окон в Москве.

          %p
            Из интересных решений стоит выделить блок с рассчетом стоимости. Также в этой работе получила логическое продолжение
            идея с обоснованием ценности выезда консультанта-замерщика.

        %a.bottom{href: 'http://divnie-okna.abardacha.ru', target: '_blank'}
          divnie-okna.abardacha.ru →


      .work
        %a.img.h240{href: 'http://mimicase.abardacha.ru', target: '_blank'}
          .overlay
          %img{src: '/images/works/mimicase_300_240.jpg'}
        .content
          %h3 Чехлы Mimicase
          %p
            На входе у клиента была идея продавать сувенирные чехлы для смартфонов
            крупным компаниям, чтобы те, в свою очередь, дарили их своим клиентам и сотрудникам.


          %p
            Что получилось в результате нашей совместной работы - смотрите по ссылке ниже.

        %a.bottom{href: 'http://mimicase.abardacha.ru', target: '_blank'}
          mimicase.abardacha.ru →

      .work
        %a.img.h300{href: 'http://rzkm.abardacha.ru', target: '_blank'}
          .overlay
          %img{src: '/images/works/rzkm_300_300.jpg'}
        .content
          %h3 РЗКМ
          %p
            Лэндинг для Ростовского Завода Композитных Материалов, который, в частности, продает стеклопластиковую арматуру.

          %p
            В этой работе мы нашли лаконичный способ показать все плюсы того, что компания является производителем, а не дилером.
            Также советуем поиграться с калькулятором стоимости - он очень хорошо получился.

        %a.bottom{href: 'http://rzkm.abardacha.ru', target: '_blank'}
          rzkm.abardacha.ru →


      .work
        %a.img.h400{href: 'http://kaleva2.abardacha.ru', target: '_blank'}
          .overlay
          %img{src: '/images/works/kaleva2_300_400.jpg'}
        .content
          %h3 Окна Калева 2
          %p
            Второй лэндинг для официального дилера пластиковых окон компании Калева.




        %a.bottom{href: 'http://kaleva2.abardacha.ru', target: '_blank'}
          kaleva2.abardacha.ru →


      .work
        %a.img.h400{href: 'http://polymedia.abardacha.ru', target: '_blank'}
          .overlay
          %img{src: '/images/works/polymedia_300_400.jpg'}
        .content
          %h3 Системная интеграция
          %p
            Короткий и лаконичный лэндинг для компании, разрабатывающей проекты конференц-залов, ситуационных центоров и крутых переговорных.

        %a.bottom{href: 'http://polymedia.abardacha.ru', target: '_blank'}
          polymedia.abardacha.ru →

      .work
        %a.img.h300{href: 'http://marketube.abardacha.ru', target: '_blank'}
          .overlay
          %img{src: '/images/works/marketube_300_300.jpg'}
        .content
          %h3 Marketube
          %p
            Лэндинг для нашего партнера - Константина Тишкина, занимающегося съемками продающих и презентационных видеороликов.
          %p
            Одна из достопримечательностей этой работы - огромный разноцветный мозг на весь экран ;)

        %a.bottom{href: 'http://marketube.abardacha.ru', target: '_blank'}
          marketube.abardacha.ru →


      .work
        %a.img.h240{href: 'http://kaleva3.abardacha.ru', target: '_blank'}
          .overlay
          %img{src: '/images/works/kaleva3_300_240.jpg'}
        .content
          %h3 Окна Калева 3
          %p
            Очередной лэндинг для дилера пластиковых окон Калева.


        %a.bottom{href: 'http://kaleva3.abardacha.ru', target: '_blank'}
          kaleva3.abardacha.ru →


      .work
        %a.img.h300{href: 'http://volvo.abardacha.ru', target: '_blank'}
          .overlay
          %img{src: '/images/works/volvo_300_300.jpg'}
        .content
          %h3 Автозапчасти Volvo
          %p
            Это одна из наших самых удачных работ по эффективности. Честно говоря, мы до сих пор теряемся в догадках,
            повлияла ли на крутой результат форма для запроса детали или же это просто такая специфика бизнеса,
            однако лэндинг и по сей день генерирует лидов стоимостью не более 80 рублей за штуку.

        %a.bottom{href: 'http://volvo.abardacha.ru', target: '_blank'}
          volvo.abardacha.ru →

      .work
        %a.img.h240{href: 'http://chip.abardacha.ru', target: '_blank'}
          .overlay
          %img{src: '/images/works/chip_300_240.jpg'}
        .content
          %h3 Чиптюнинг автомобилей
          %p
            Лэндинг для той же компании, которая продает запчасти для Volvo.
          %p
            Увеличение мощности и экономия топлива, посредством тонкой настройки автомобильной электроники



        %a.bottom{href: 'http://chip.abardacha.ru', target: '_blank'}
          chip.abardacha.ru →


      .work
        %a.img.h400{href: 'http://univerclub.abardacha.ru', target: '_blank'}
          .overlay
          %img{src: '/images/works/univerclub_300_400.jpg'}
        .content
          %h3 Печать на футболках
          %p
            Лэндинг для компании, печатающей индивидуальные принты на футблоках, толстовках и поло.``

        %a.bottom{href: 'http://univerclub.abardacha.ru', target: '_blank'}
          univerclub.abardacha.ru →